# Texto: normalizar a LF en el repo
*           text=auto eol=lf

# Archivos que deben ir en CRLF (si los usas en Windows)
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# Binarios (nunca tocar fin de línea)
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.webp      binary
*.pdf       binary
*.zip       binary

#backend
/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated